---
name: show review
parent: reviews
url: /detail/:id
animationIn: fadeIn
---

<div class="grid-container">
  <div class="card">
    <div class="card-section" ng-init="review = reviews[params.id - 1]">
      <a href="#" onclick="document.location='/#!/store/info/' + (Math.floor(Math.random()*6) + 1)">
        <h3 class="card-title">A review written by {{ review.reviewer.name }}</h3>
      </a>
      <div>
        <div class="grid-block">
          <div class="grid-content shrink">Review Date: {{ review.date | date:'medium' }}</div>
        </div><br>
        <div class="grid-block">
          <div class="grid-content medium-3">Overall Service</div>
          <div class="grid-content medium-3">Communication</div>
          <div class="grid-content medium-3">Arrival Time</div>
          <div class="grid-content medium-3">Safety</div>
        </div>
        <div class="grid-block">
          <div class="grid-content medium-3">
                <span ng-repeat="n in range(5) track by $index"
                      ng-class="$index < review.rating.overall ? 'iconic-color-warning' : 'iconic-color-secondary'">
                  <img zf-iconic icon="star" size="small">
                </span>
          </div>
          <div class="grid-content medium-3">
                <span ng-repeat="n in range(5) track by $index"
                      ng-class="$index < review.rating.communication ? 'iconic-color-warning' : 'iconic-color-secondary'">
                  <img zf-iconic icon="star" size="small">
                </span>
          </div>
          <div class="grid-content medium-3">
                <span ng-repeat="n in range(5) track by $index"
                      ng-class="$index < review.rating.delivery ? 'iconic-color-warning' : 'iconic-color-secondary'">
                  <img zf-iconic icon="star" size="small">
                </span>
          </div>
          <div class="grid-content medium-3">
                <span ng-repeat="n in range(5) track by $index"
                      ng-class="$index < review.rating.safety ? 'iconic-color-warning' : 'iconic-color-secondary'">
                  <img zf-iconic icon="star" size="small">
                </span>
          </div>
        </div>
        <br>
        <div class="grid-content">
          <p>{{ review.text }}</p>
        </div>
        <div class="grid-block align-center">
          <div class="grid-content shrink">
            <a href="#" class="button" zf-open="rate-notify">helpful</a>
          </div>
          <div class="grid-content shrink">
            <a href="#" class="button" zf-open="rate-notify">not helpful</a>
          </div>
        </div>
        <zf-notification-static id="rate-notify" title="Opinion noted" autoclose="2000">
          <p>Thanks for your contribution.</p>
        </zf-notification-static>
      </div>
    </div>
  </div>
</div>
